 atmsimulatorv1 --username queo1987/cfg/ifx/1.7/pain.004.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Schema version 4.1 - Generated by SWIFTStandards Workstation (build:R4.1.3.8) on 2004 Jun 01 16:26:59-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:swift:xsd:pain.004.001.01" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:pain.004.001.01">
<xsd:element name="Document" type="Document"/>
<xsd:complexType name="Document">
<xsd:sequence>
<!--:NOTE: suffix type with _Type -->
<xsd:element name="pain.004.001.01" type="pain.004.001.01_Type"/>
</xsd:sequence>
</xsd:complexType>
<!--:NOTE: define the type -->
<xsd:complexType name="pain.004.001.01_Type">
<xsd:sequence>
<xsd:element name="GnlInf" type="GeneralInformation2"/>
<xsd:element name="OrgnlGrpRefInfAndSts" type="OriginalGroupReferenceInformation2"/>
<xsd:element name="OrgnlPmtInf" type="PaymentInformation12" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="PaymentInformation12">
<xsd:sequence>
<xsd:element name="ReqdExctnDt" type="ISODate" minOccurs="0" maxOccurs="1"/>
<xsd:element name="PmtMtdByFrstAgt" type="PaymentMethod1Code" minOccurs="0" maxOccurs="1"/>
<xsd:element name="CdtTrfTpId" type="CreditTransferTypeIdentification" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Dbtr" type="PartyIdentification1" minOccurs="0" maxOccurs="1"/>
<xsd:element name="DbtrAcct" type="CashAccount3" minOccurs="0" maxOccurs="1"/>
<xsd:element name="OrgnlTxRefInfAndSts" type="PaymentReference2" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="PaymentReference2">
<xsd:sequence>
<xsd:element name="PmtId" type="PaymentIdentification"/>
<xsd:element name="TxSts" type="PaymentCancellationStatusCode" minOccurs="0" maxOccurs="1"/>
<xsd:element name="AddtlInf" type="Max105Text" minOccurs="0" maxOccurs="1"/>
<xsd:element name="OrgnlTxInf" type="OriginalTransactionInformation1" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="PaymentMethod1Code">
<xsd:restriction base="PaymentMethodCode">
<xsd:enumeration value="CHK"/>
<xsd:enumeration value="TRF"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="PaymentMethodCode">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="CHK"/>
<xsd:enumeration value="TRF"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="GeneralInformation2">
<xsd:sequence>
<xsd:element name="CxlStsId" type="Max35Text"/>
<xsd:element name="CreDtTm" type="ISODateTime"/>
<xsd:element name="CxlReqRef" type="Max35Text"/>
<xsd:element name="FwdgAgt" type="BranchAndFinancialInstitutionIdentification" minOccurs="0" maxOccurs="1"/>
<xsd:element name="InitgPty" type="PartyIdentification1"/>
<xsd:element name="FrstAgt" type="BranchAndFinancialInstitutionIdentification" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="OriginalGroupReferenceInformation2">
<xsd:sequence>
<xsd:element name="GrpId" type="Max35Text"/>
<xsd:element name="OrgnlMsgTp" type="Max35Text"/>
<xsd:element name="GrpSts" type="PaymentCancellationStatusCode" minOccurs="0" maxOccurs="1"/>
<xsd:element name="AddtlInf" type="Max105Text" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CreditTransferTypeIdentification">
<xsd:sequence>
<xsd:choice>
<xsd:element name="Cd" type="CreditTransferType2Code" minOccurs="0" maxOccurs="1"/>
<xsd:element name="LclInstrm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
</xsd:choice>
<xsd:element name="InstrPrty" type="Priority2Code" minOccurs="0" maxOccurs="1"/>
<xsd:element name="SttlmPrty" type="SettlementPriorityChoice" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SettlementPriorityChoice">
<xsd:sequence>
<xsd:choice>
<xsd:element name="Prty" type="Priority2Code"/>
<xsd:element name="PmtSchme" type="PaymentSchemeChoice"/>
</xsd:choice>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="PaymentSchemeChoice">
<xsd:sequence>
<xsd:choice>
<xsd:element name="Cd" type="CashClearingSystem2Code"/>
<xsd:element name="PrtryInf" type="Max35Text"/>
</xsd:choice>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="PaymentIdentification">
<xsd:sequence>
<xsd:element name="InstrId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xsd:element name="EndToEndId" type="Max35Text"/>
<xsd:element name="PmtRmtId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="OriginalTransactionInformation1">
<xsd:sequence>
<xsd:element name="Amt" type="AmountType1Choice"/>
<xsd:element name="Cdtr" type="PartyIdentification1" minOccurs="0" maxOccurs="1"/>
<xsd:element name="CdtrAcct" type="CashAccount3" minOccurs="0" maxOccurs="1"/>
<xsd:element name="FnlAgt" type="BranchAndFinancialInstitutionIdentification" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="BranchAndFinancialInstitutionIdentification">
<xsd:sequence>
<xsd:element name="FinInstnId" type="FinancialInstitutionIdentification1"/>
<xsd:element name="BrnchId" type="BranchData" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="FinancialInstitutionIdentification1">
<xsd:sequence>
<xsd:element name="BIC" type="BICIdentifier" minOccurs="0" maxOccurs="1"/>
<xsd:element name="ClrSysMmbId" type="ClearingSystemMemberIdentificationChoice" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Nm" type="Max70Text" minOccurs="0" maxOccurs="1"/>
<xsd:element name="PstlAdr" type="PostalAddress1" minOccurs="0" maxOccurs="1"/>
<xsd:element name="PrtryId" type="GenericIdentification3" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ClearingSystemMemberIdentificationChoice">
<xsd:sequence>
<xsd:choice>
<xsd:element name="USCHU" type="CHIPSUniversalIdentifier"/>
<xsd:element name="NZNCC" type="NewZealandNCCIdentifier"/>
<xsd:element name="IENSC" type="IrishNSCIdentifier"/>
<xsd:element name="GBSC" type="UKDomesticSortCodeIdentifier"/>
<xsd:element name="USCH" type="CHIPSParticipantIdentifier"/>
<xsd:element name="CHBC" type="SwissBCIdentifier"/>
<xsd:element name="USFW" type="FedwireRoutingNumberIdentifier"/>
<xsd:element name="PTNCC" type="PortugueseNCCIdentifier"/>
<xsd:element name="RUCB" type="RussianCentralBankIdentificationCodeIdentifier"/>
<xsd:element name="ITNCC" type="ItalianDomesticIdentifier"/>
<xsd:element name="ATBLZ" type="AustrianBankleitzahlIdentifier"/>
<xsd:element name="CACPA" type="CanadianPaymentsARNIdentifier"/>
<xsd:element name="CHSIC" type="SwissSICIdentifier"/>
<xsd:element name="DEBLZ" type="GermanBankleitzahlIdentifier"/>
<xsd:element name="ESNCC" type="SpanishDomesticInterbankingIdentifier"/>
<xsd:element name="ZANCC" type="SouthAfricanNCCIdentifier"/>
<xsd:element name="HKNCC" type="HongKongBankIdentifier"/>
<xsd:element name="AUBSBx" type="ExtensiveBranchNetworkIdentifier"/>
<xsd:element name="AUBSBs" type="SmallNetworkIdentifier"/>
</xsd:choice>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="ExtensiveBranchNetworkIdentifier">
<xsd:restriction base="xsd:string">
<xsd:pattern value="AU[0-9]{6,6}"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="HongKongBankIdentifier">
<xsd:restriction base="xsd:string">
<xsd:pattern value="HK[0-9]{3,3}"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="SouthAfricanNCCIdentifier">
<xsd:restriction base="xsd:string">
<xsd:pattern value="ZA[0-9]{6,6}"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="SpanishDomesticInterbankingIdentifier">
<xsd:restriction base="xsd:string">
<xsd:pattern value="ES[0-9]{8,9}"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="AustrianBankleitzahlIdentifier">
<xsd:restriction base="xsd:string">
<xsd:pattern value="AT[0-9]{5,5}"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="ItalianDomesticIdentifier">
<xsd:restriction base="xsd:string">
<xsd:pattern value="IT[0-9]{10,10}"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="RussianCentralBankIdentificationCodeIdentifier">
<xsd:restriction base="xsd:string">
<xsd:pattern value="RU[0-9]{9,9}"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="PortugueseNCCIdentifier">
<xsd:restriction base="xsd:string">
<xsd:pattern value="PT[0-9]{8,8}"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="FedwireRoutingNumberIdentifier">
<xsd:restriction base="xsd:string">
<xsd:pattern value="FW[0-9]{9,9}"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="SwissBCIdentifier">
<xsd:restriction base="xsd:string">
<xsd:pattern value="SW[0-9]{3,5}"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="CHIPSParticipantIdentifier">
<xsd:restriction base="xsd:string">
<xsd:pattern value="CP[0-9]{4,4}"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="UKDomesticSortCodeIdentifier">
<xsd:restriction base="xsd:string">
<xsd:pattern value="SC[0-9]{6,6}"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="IrishNSCIdentifier">
<xsd:restriction base="xsd:string">
<xsd:pattern value="IE[0-9]{6,6}"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="NewZealandNCCIdentifier">
<xsd:restriction base="xsd:string">
<xsd:pattern value="NZ[0-9]{6,6}"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="BICIdentifier">
<xsd:restriction base="xsd:string">
<xsd:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="PartyIdentification1">
<xsd:sequence>
<xsd:element name="Nm" type="Max70Text" minOccurs="0" maxOccurs="1"/>
<xsd:element name="PstlAdr" type="PostalAddress1" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Id" type="Party1Choice" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Party1Choice">
<xsd:sequence>
<xsd:choice>
<xsd:element name="OrgId" type="NonFinancialInstitutionIdentification1"/>
<xsd:element name="PrvtId" type="PersonIdentification2" minOccurs="1" maxOccurs="2"/>
</xsd:choice>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="PersonIdentification2">
<xsd:sequence>
<xsd:choice>
<xsd:element name="DrvrsLicNb" type="Max35Text"/>
<xsd:element name="SclSctyNb" type="Max35Text"/>
<xsd:element name="AlnRegnNb" type="Max35Text"/>
<xsd:element name="PsptNb" type="Max35Text"/>
<xsd:element name="TaxIdNb" type="Max35Text"/>
<xsd:element name="IdntyCardNb" type="Max35Text"/>
<xsd:element name="MplyrIdNb" type="Max35Text"/>
<xsd:element name="OthrId" type="GenericIdentification4"/>
</xsd:choice>
<xsd:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="GenericIdentification4">
<xsd:sequence>
<xsd:element name="Id" type="Max35Text"/>
<xsd:element name="IdTp" type="Max35Text"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="NonFinancialInstitutionIdentification1">
<xsd:sequence>
<xsd:element name="BEI" type="BEIIdentifier" minOccurs="0" maxOccurs="1"/>
<xsd:element name="EANGLN" type="EANGLNIdentifier" minOccurs="0" maxOccurs="1"/>
<xsd:element name="USCHU" type="CHIPSUniversalIdentifier" minOccurs="0" maxOccurs="1"/>
<xsd:element name="DUNS" type="DunsIdentifier" minOccurs="0" maxOccurs="1"/>
<xsd:element name="BkPtyId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xsd:element name="TaxIdNb" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xsd:element name="PrtryId" type="GenericIdentification3" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="GenericIdentification3">
<xsd:sequence>
<xsd:element name="Id" type="Max35Text"/>
<xsd:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="DunsIdentifier">
<xsd:restriction base="xsd:string">
<xsd:pattern value="[0-9]{9,9}"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="CHIPSUniversalIdentifier">
<xsd:restriction base="xsd:string">
<xsd:pattern value="CH[0-9]{6,6}"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="PaymentGroupStatusCode">
<xsd:restriction base="PaymentStatusCode">
<xsd:enumeration value="ACTC"/>
<xsd:enumeration value="RCVD"/>
<xsd:enumeration value="PART"/>
<xsd:enumeration value="RJCT"/>
<xsd:enumeration value="PDNG"/>
<xsd:enumeration value="ACCP"/>
<xsd:enumeration value="ACSP"/>
<xsd:enumeration value="ACSC"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="PaymentStatusCode">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="ACTC"/>
<xsd:enumeration value="RCVD"/>
<xsd:enumeration value="PART"/>
<xsd:enumeration value="RJCT"/>
<xsd:enumeration value="PDNG"/>
<xsd:enumeration value="ACCP"/>
<xsd:enumeration value="ACSP"/>
<xsd:enumeration value="ACSC"/>
<xsd:enumeration value="ACPT"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="PaymentCancellationStatusCode">
<xsd:restriction base="PaymentStatusCode">
<xsd:enumeration value="RJCT"/>
<xsd:enumeration value="PDNG"/>
<xsd:enumeration value="ACPT"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="PaymentTransactionStatusCode">
<xsd:restriction base="PaymentStatusCode">
<xsd:enumeration value="ACTC"/>
<xsd:enumeration value="RJCT"/>
<xsd:enumeration value="PDNG"/>
<xsd:enumeration value="ACCP"/>
<xsd:enumeration value="ACSP"/>
<xsd:enumeration value="ACSC"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="CashAccount3">
<xsd:sequence>
<xsd:element name="Id" type="AccountIdentification1Choice"/>
<xsd:element name="Tp" type="CashAccountType3Code" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Ccy" type="CurrencyCode" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Nm" type="Max70Text" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="AccountIdentification1Choice">
<xsd:sequence>
<xsd:choice>
<xsd:element name="IBAN" type="IBANIdentifier"/>
<xsd:element name="BBAN" type="BBANIdentifier"/>
<xsd:element name="UPIC" type="UPICIdentifier"/>
<xsd:element name="DmstAcct" type="SimpleIdentificationInformation"/>
</xsd:choice>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SimpleIdentificationInformation">
<xsd:sequence>
<xsd:element name="Id" type="Max35Text"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="UPICIdentifier">
<xsd:restriction base="xsd:string">
<xsd:pattern value="[0-9]{8,17}"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="BBANIdentifier">
<xsd:restriction base="xsd:string">
<xsd:pattern value="[a-zA-Z0-9]{1,30}"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="IBANIdentifier">
<xsd:restriction base="xsd:string">
<xsd:pattern value="[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="CashClearingSystemCode">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="ABE"/>
<xsd:enumeration value="ART"/>
<xsd:enumeration value="AVP"/>
<xsd:enumeration value="AZM"/>
<xsd:enumeration value="BAP"/>
<xsd:enumeration value="BEL"/>
<xsd:enumeration value="BOF"/>
<xsd:enumeration value="BRL"/>
<xsd:enumeration value="CAD"/>
<xsd:enumeration value="CAM"/>
<xsd:enumeration value="CBJ"/>
<xsd:enumeration value="CHP"/>
<xsd:enumeration value="DKC"/>
<xsd:enumeration value="RTP"/>
<xsd:enumeration value="EBA"/>
<xsd:enumeration value="ELS"/>
<xsd:enumeration value="ERP"/>
<xsd:enumeration value="XCT"/>
<xsd:enumeration value="HRK"/>
<xsd:enumeration value="HRM"/>
<xsd:enumeration value="HUF"/>
<xsd:enumeration value="LGS"/>
<xsd:enumeration value="LVL"/>
<xsd:enumeration value="MOS"/>
<xsd:enumeration value="MUP"/>
<xsd:enumeration value="NOC"/>
<xsd:enumeration value="PCH"/>
<xsd:enumeration value="PDS"/>
<xsd:enumeration value="PEG"/>
<xsd:enumeration value="PNS"/>
<xsd:enumeration value="PVE"/>
<xsd:enumeration value="SEC"/>
<xsd:enumeration value="SIT"/>
<xsd:enumeration value="SLB"/>
<xsd:enumeration value="SPG"/>
<xsd:enumeration value="SSK"/>
<xsd:enumeration value="TBF"/>
<xsd:enumeration value="TGT"/>
<xsd:enumeration value="TOP"/>
<xsd:enumeration value="FDW"/>
<xsd:enumeration value="BOJ"/>
<xsd:enumeration value="FEY"/>
<xsd:enumeration value="ZEN"/>
<xsd:enumeration value="RTG"/>
<xsd:enumeration value="ACH"/>
<xsd:enumeration value="CHI"/>
<xsd:enumeration value="FDN"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="CashClearingSystem2Code">
<xsd:restriction base="CashClearingSystemCode">
<xsd:enumeration value="RTG"/>
<xsd:enumeration value="ACH"/>
<xsd:enumeration value="CHI"/>
<xsd:enumeration value="FDN"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="CashClearingSystem1Code">
<xsd:restriction base="CashClearingSystemCode">
<xsd:enumeration value="ABE"/>
<xsd:enumeration value="ART"/>
<xsd:enumeration value="AVP"/>
<xsd:enumeration value="AZM"/>
<xsd:enumeration value="BAP"/>
<xsd:enumeration value="BEL"/>
<xsd:enumeration value="BOF"/>
<xsd:enumeration value="BRL"/>
<xsd:enumeration value="CAD"/>
<xsd:enumeration value="CAM"/>
<xsd:enumeration value="CBJ"/>
<xsd:enumeration value="CHP"/>
<xsd:enumeration value="DKC"/>
<xsd:enumeration value="RTP"/>
<xsd:enumeration value="EBA"/>
<xsd:enumeration value="ELS"/>
<xsd:enumeration value="ERP"/>
<xsd:enumeration value="XCT"/>
<xsd:enumeration value="HRK"/>
<xsd:enumeration value="HRM"/>
<xsd:enumeration value="HUF"/>
<xsd:enumeration value="LGS"/>
<xsd:enumeration value="LVL"/>
<xsd:enumeration value="MOS"/>
<xsd:enumeration value="MUP"/>
<xsd:enumeration value="NOC"/>
<xsd:enumeration value="PCH"/>
<xsd:enumeration value="PDS"/>
<xsd:enumeration value="PEG"/>
<xsd:enumeration value="PNS"/>
<xsd:enumeration value="PVE"/>
<xsd:enumeration value="SEC"/>
<xsd:enumeration value="SIT"/>
<xsd:enumeration value="SLB"/>
<xsd:enumeration value="SPG"/>
<xsd:enumeration value="SSK"/>
<xsd:enumeration value="TBF"/>
<xsd:enumeration value="TGT"/>
<xsd:enumeration value="TOP"/>
<xsd:enumeration value="FDW"/>
<xsd:enumeration value="BOJ"/>
<xsd:enumeration value="FEY"/>
<xsd:enumeration value="ZEN"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="SmallNetworkIdentifier">
<xsd:restriction base="xsd:string">
<xsd:pattern value="AU[0-9]{6,6}"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="ISODateTime">
<xsd:restriction base="xsd:dateTime"/>
</xsd:simpleType>
<xsd:simpleType name="BEIIdentifier">
<xsd:restriction base="xsd:string">
<xsd:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="ISODate">
<xsd:restriction base="xsd:date"/>
</xsd:simpleType>
<xsd:simpleType name="EANGLNIdentifier">
<xsd:restriction base="xsd:string">
<xsd:pattern value="[0-9]{13,13}"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="CashAccountTypeCode">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="CASH"/>
<xsd:enumeration value="CHAR"/>
<xsd:enumeration value="COMM"/>
<xsd:enumeration value="TAXE"/>
<xsd:enumeration value="CISH"/>
<xsd:enumeration value="TRAS"/>
<xsd:enumeration value="SACC"/>
<xsd:enumeration value="CACC"/>
<xsd:enumeration value="SVGS"/>
<xsd:enumeration value="ONDP"/>
<xsd:enumeration value="MGLD"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="CashAccountType3Code">
<xsd:restriction base="CashAccountTypeCode">
<xsd:enumeration value="CASH"/>
<xsd:enumeration value="CHAR"/>
<xsd:enumeration value="SACC"/>
<xsd:enumeration value="CACC"/>
<xsd:enumeration value="SVGS"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="CashAccountType2Code">
<xsd:restriction base="CashAccountTypeCode">
<xsd:enumeration value="CASH"/>
<xsd:enumeration value="CHAR"/>
<xsd:enumeration value="COMM"/>
<xsd:enumeration value="TAXE"/>
<xsd:enumeration value="CISH"/>
<xsd:enumeration value="TRAS"/>
<xsd:enumeration value="SACC"/>
<xsd:enumeration value="CACC"/>
<xsd:enumeration value="SVGS"/>
<xsd:enumeration value="ONDP"/>
<xsd:enumeration value="MGLD"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="CashAccountType1Code">
<xsd:restriction base="CashAccountTypeCode">
<xsd:enumeration value="SACC"/>
<xsd:enumeration value="CACC"/>
<xsd:enumeration value="SVGS"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="GermanBankleitzahlIdentifier">
<xsd:restriction base="xsd:string">
<xsd:pattern value="BL[0-9]{8,8}"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="CreditTransferTypeCode">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="INTC"/>
<xsd:enumeration value="CORT"/>
<xsd:enumeration value="SALA"/>
<xsd:enumeration value="TREA"/>
<xsd:enumeration value="CMSW"/>
<xsd:enumeration value="CMTO"/>
<xsd:enumeration value="CMZB"/>
<xsd:enumeration value="ADVA"/>
<xsd:enumeration value="AGRT"/>
<xsd:enumeration value="ALMY"/>
<xsd:enumeration value="BECH"/>
<xsd:enumeration value="BENE"/>
<xsd:enumeration value="BONU"/>
<xsd:enumeration value="CASH"/>
<xsd:enumeration value="CBFF"/>
<xsd:enumeration value="CHAR"/>
<xsd:enumeration value="CMDT"/>
<xsd:enumeration value="COMC"/>
<xsd:enumeration value="COMM"/>
<xsd:enumeration value="COST"/>
<xsd:enumeration value="CPYR"/>
<xsd:enumeration value="DIVI"/>
<xsd:enumeration value="FREX"/>
<xsd:enumeration value="GDDS"/>
<xsd:enumeration value="GOVT"/>
<xsd:enumeration value="IHRP"/>
<xsd:enumeration value="INSU"/>
<xsd:enumeration value="INTE"/>
<xsd:enumeration value="LICF"/>
<xsd:enumeration value="LOAN"/>
<xsd:enumeration value="LOAR"/>
<xsd:enumeration value="NETT"/>
<xsd:enumeration value="PENS"/>
<xsd:enumeration value="REFU"/>
<xsd:enumeration value="RENT"/>
<xsd:enumeration value="ROYA"/>
<xsd:enumeration value="SCVE"/>
<xsd:enumeration value="SECU"/>
<xsd:enumeration value="SSBE"/>
<xsd:enumeration value="SUBS"/>
<xsd:enumeration value="TAXS"/>
<xsd:enumeration value="VATX"/>
<xsd:enumeration value="SUPP"/>
<xsd:enumeration value="HEDG"/>
<xsd:enumeration value="TRAD"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="CreditTransferType2Code">
<xsd:restriction base="CreditTransferTypeCode">
<xsd:enumeration value="CORT"/>
<xsd:enumeration value="SALA"/>
<xsd:enumeration value="TREA"/>
<xsd:enumeration value="CASH"/>
<xsd:enumeration value="DIVI"/>
<xsd:enumeration value="GOVT"/>
<xsd:enumeration value="INTE"/>
<xsd:enumeration value="LOAN"/>
<xsd:enumeration value="PENS"/>
<xsd:enumeration value="SECU"/>
<xsd:enumeration value="SSBE"/>
<xsd:enumeration value="SUPP"/>
<xsd:enumeration value="TAXS"/>
<xsd:enumeration value="TRAD"/>
<xsd:enumeration value="VATX"/>
<xsd:enumeration value="HEDG"/>
<xsd:enumeration value="INTC"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="CreditTransferType1Code">
<xsd:restriction base="CreditTransferTypeCode">
<xsd:enumeration value="INTC"/>
<xsd:enumeration value="CORT"/>
<xsd:enumeration value="SALA"/>
<xsd:enumeration value="TREA"/>
<xsd:enumeration value="CMSW"/>
<xsd:enumeration value="CMTO"/>
<xsd:enumeration value="CMZB"/>
<xsd:enumeration value="ADVA"/>
<xsd:enumeration value="AGRT"/>
<xsd:enumeration value="ALMY"/>
<xsd:enumeration value="BECH"/>
<xsd:enumeration value="BENE"/>
<xsd:enumeration value="BONU"/>
<xsd:enumeration value="CASH"/>
<xsd:enumeration value="CBFF"/>
<xsd:enumeration value="CHAR"/>
<xsd:enumeration value="CMDT"/>
<xsd:enumeration value="COMC"/>
<xsd:enumeration value="COMM"/>
<xsd:enumeration value="COST"/>
<xsd:enumeration value="CPYR"/>
<xsd:enumeration value="DIVI"/>
<xsd:enumeration value="FREX"/>
<xsd:enumeration value="GDDS"/>
<xsd:enumeration value="GOVT"/>
<xsd:enumeration value="IHRP"/>
<xsd:enumeration value="INSU"/>
<xsd:enumeration value="INTE"/>
<xsd:enumeration value="LICF"/>
<xsd:enumeration value="LOAN"/>
<xsd:enumeration value="LOAR"/>
<xsd:enumeration value="NETT"/>
<xsd:enumeration value="PENS"/>
<xsd:enumeration value="REFU"/>
<xsd:enumeration value="RENT"/>
<xsd:enumeration value="ROYA"/>
<xsd:enumeration value="SCVE"/>
<xsd:enumeration value="SECU"/>
<xsd:enumeration value="SSBE"/>
<xsd:enumeration value="SUBS"/>
<xsd:enumeration value="TAXS"/>
<xsd:enumeration value="VATX"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="BranchData">
<xsd:sequence>
<xsd:element name="Id" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Nm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xsd:element name="PstlAdr" type="PostalAddress1" minOccurs="0" maxOccurs="1"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="PostalAddress1">
<xsd:sequence>
<xsd:element name="AdrTp" type="AddressType2Code" minOccurs="0" maxOccurs="1"/>
<xsd:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="5"/>
<xsd:element name="StrtNm" type="Max70Text" minOccurs="0" maxOccurs="1"/>
<xsd:element name="BldgNb" type="Max16Text" minOccurs="0" maxOccurs="1"/>
<xsd:element name="PstCd" type="Max16Text" minOccurs="0" maxOccurs="1"/>
<xsd:element name="TwnNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xsd:element name="CtrySubDvsn" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xsd:element name="Ctry" type="CountryCode"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="CountryCode">
<xsd:restriction base="xsd:string">
<xsd:pattern value="[A-Z]{2,2}"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="Max16Text">
<xsd:restriction base="xsd:string">
<xsd:minLength value="1"/>
<xsd:maxLength value="16"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="Max70Text">
<xsd:restriction base="xsd:string">
<xsd:minLength value="1"/>
<xsd:maxLength value="70"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="Max35Text">
<xsd:restriction base="xsd:string">
<xsd:minLength value="1"/>
<xsd:maxLength value="35"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="Max105Text">
<xsd:restriction base="xsd:string">
<xsd:minLength value="1"/>
<xsd:maxLength value="105"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="AmountType1Choice">
<xsd:sequence>
<xsd:choice>
<xsd:element name="InstdAmt" type="CurrencyAndAmount"/>
<xsd:element name="EqvtAmt" type="EquivalentAmount"/>
</xsd:choice>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="EquivalentAmount">
<xsd:sequence>
<xsd:element name="Amt" type="CurrencyAndAmount"/>
<xsd:element name="CcyOfTrf" type="CurrencyCode"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="CurrencyAndAmount_SimpleType">
<xsd:restriction base="xsd:decimal">
<xsd:minInclusive value="0"/>
<xsd:fractionDigits value="5"/>
<xsd:totalDigits value="18"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="CurrencyAndAmount">
<xsd:simpleContent>
<xsd:extension base="CurrencyAndAmount_SimpleType">
<xsd:attribute name="Ccy" type="CurrencyCode" use="required"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:simpleType name="AddressTypeCode">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="HOME"/>
<xsd:enumeration value="BIZZ"/>
<xsd:enumeration value="ADDR"/>
<xsd:enumeration value="PBOX"/>
<xsd:enumeration value="MLTO"/>
<xsd:enumeration value="DLVY"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="AddressType2Code">
<xsd:restriction base="AddressTypeCode">
<xsd:enumeration value="ADDR"/>
<xsd:enumeration value="PBOX"/>
<xsd:enumeration value="HOME"/>
<xsd:enumeration value="BIZZ"/>
<xsd:enumeration value="MLTO"/>
<xsd:enumeration value="DLVY"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="AddressType1Code">
<xsd:restriction base="AddressTypeCode">
<xsd:enumeration value="HOME"/>
<xsd:enumeration value="BIZZ"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="CurrencyCode">
<xsd:restriction base="xsd:string">
<xsd:pattern value="[A-Z]{3,3}"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="SwissSICIdentifier">
<xsd:restriction base="xsd:string">
<xsd:pattern value="SW[0-9]{6,6}"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="CanadianPaymentsARNIdentifier">
<xsd:restriction base="xsd:string">
<xsd:pattern value="CA[0-9]{9,9}"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="PriorityCode">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="HIGH"/>
<xsd:enumeration value="NORM"/>
<xsd:enumeration value="LOWW"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="Priority2Code">
<xsd:restriction base="PriorityCode">
<xsd:enumeration value="HIGH"/>
<xsd:enumeration value="NORM"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="Priority1Code">
<xsd:restriction base="PriorityCode">
<xsd:enumeration value="HIGH"/>
<xsd:enumeration value="NORM"/>
<xsd:enumeration value="LOWW"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:schema>
